$light-font-color: white;
$accent-font-color: rgba(255, 153, 0, 1);
$dark-font-color: black;
$accent-bg-color: rgba(246, 253, 238, 1);
$line-color: rgba(255, 230, 0, 1);


* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Philosopher', sans-serif;
}

.menu {
    display: none;
}

img {
    max-width: 100%;
    display: block;
}

.mask {
    height: 100%;
    margin: 0 auto;
    padding: 5rem 0 7rem 0;
}

.underlined {
    text-align: right;
    margin-top: 1rem;

    a {
        color: $dark-font-color;
        text-decoration: .3rem underline $line-color;
        font-size: 1.24rem;
        font-weight: 700;
    }

}

section,
footer {
    margin: 0 1rem;
}

.story,
.awards {
    background-color: $accent-bg-color;
}

body {
    background-color: white;
    max-width: 100vw;
}

.title {
    color: $dark-font-color;
    font-size: 2.5rem;
}

span {
    color: $accent-font-color;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.main {
    background-image: url(../img/banner\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: $light-font-color;
    height: 56vw;
    padding: 1rem 1rem 0 1rem;

    .mask {
        background-color: rgba(0, 0, 0, 0.6);
        padding-top: 3rem;

        header {
            display: flex;
            justify-content: space-between;

            .logo {
                font-size: 2.5rem;
            }

            nav {
                display: flex;

                a {
                    margin: 0 1.5rem;
                    text-decoration: none;
                    color: $light-font-color;
                    font-size: 1.5rem;

                    &:hover {
                        color: $accent-font-color;
                    }
                }
            }

            .link {
                font-size: 1.5rem;
                font-weight: 700;

                a {
                    text-decoration: none;
                }

            }
        }

        main {
            max-width: 80%;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
            padding-top: 18rem;

            >div {
                width: 40%;

                &.title-main {
                    text-align: right;
                    font-size: 5rem;
                }

                p {
                    margin: 0;
                    font-size: 2.125rem;

                    &.signature {
                        text-align: right;
                    }
                }
            }
        }
    }

}

.story {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 4rem;

        .left {
            display: grid;
            align-content: space-between;
        }

        .center {
            display: grid;
            align-content: space-between;
        }

        .right {
            display: grid;
            align-content: space-between;
        }

        .left-middle,
        .center-top,
        .right-middle {
            max-width: 60%;
        }

        .left-middle,
        .right-middle {
            align-self: center;
            justify-self: left;
        }

        .center-top {
            text-align: center;
            justify-self: center;
        }

        h5 {
            font-size: 1.5rem;
            font-weight: 700;
            color: $accent-font-color;
            margin: 1rem 0;
        }

        p {
            font-size: 1.125rem;
        }
    }


}

.collection {
    .mask {
        background-size: 35% 35%;
        background-image: repeating-linear-gradient(0deg, $accent-font-color, $accent-font-color .312rem, white .312rem, white);

        .cards {
            display: flex;
            justify-content: space-between;
            margin-bottom: 3rem;

            >div {
                width: 18vw;
                height: 25vw;
                background-repeat: no-repeat;
                border: 1px solid rgb(0, 128, 45);
                padding: 2rem;
                background-color: #00000080;
                background-blend-mode: color;

                .underlined {
                    padding-top: 70%;
                    text-align: left;

                    a {
                        color: $light-font-color;
                        font-size: 1.44rem;
                    }

                }

                p {
                    font-size: 1.125rem;
                    font-weight: 700;
                    color: $light-font-color;
                }
            }

            .london {
                background-image: url(../img/hotel1\ 1.png);
            }

            .dubai {
                background-image: url(../img/hotel3\ 1.png);
            }

            .paris {
                background-image: url(../img/hotel4\ 1.png);
            }

            .ny {
                background-image: url(../img/hotel5\ 1.png);
            }
        }
    }
}

.parallax {
    .mask {
        background-image: url(../img/—Pngtree—south\ korea\ jinxian\ ink\ hills_6690513\ 1.png);
        height: 47.08333vw;
        border: .125rem solid rgb(0, 128, 45);
        background-size: cover;
        background-repeat: no-repeat;

        .content {
            display: flex;
            justify-content: space-around;

            .airship {
                width: 30%
            }

            .text {
                width: 35%;

                p {
                    font-size: 1.125rem;
                    text-align: justify;
                }
            }
        }
    }
}

.purpose {
    .mask {
        background-size: 36% 36%;
        background-image: repeating-linear-gradient(0deg, $accent-font-color, $accent-font-color .312rem, white .312rem, white);

        .grid {
            display: grid;
            grid-template-columns: 28.77% 25.43% 43.31%;
            justify-content: space-between;

            .left {
                display: grid;
                grid-template-rows: 42.05% 28.2% 24.61%;
                align-content: space-between;

                &-middle {
                    display: grid;
                    grid-template-columns: 44.37% 51.95%;
                    justify-content: space-between;
                }
            }

            .right {
                display: grid;
                grid-template-rows: 52.69% 44.74%;
                align-content: space-between;

                &-bottom {
                    display: grid;
                    grid-template-columns: 25.57% 29.43% 39.29%;
                    justify-content: space-between;


                    &-middle {
                        display: grid;
                        grid-template-rows: 50.14% 44.13%;
                        align-content: space-between;
                    }
                }
            }
        }
    }
}

.awards {
    .wrapper {
        .grid {
            display: grid;
            grid-template-columns: 17.53% 39.73% 27.92%;
            justify-content: space-between;



            .left {
                display: grid;
                align-content: space-between;
            }

            .right {
                display: grid;
                align-content: space-between;
                justify-items: end;
            }
        }
    }
}

footer {
    .mask {
        background-image: url(../img/—Pngtree—south\ korea\ jinxian\ ink\ hills_6690513\ 2.png);
        padding-bottom: 0;

        .grid {
            margin-bottom: 5rem;
            display: grid;
            align-items: baseline;
            line-height: 1.5;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1.2fr;
            gap: 2rem;
            grid-template-areas:
                "title london dubai paris"
                "title ny form form";

            .title {
                grid-area: title;
            }

            .form {
                grid-area: form;
            }

            .london {
                grid-area: london;
            }

            .dubai {
                grid-area: dubai;
            }

            .paris {
                grid-area: paris;
            }

            .ny {
                grid-area: ny;
            }


            .form form>div:not(.send) {
                border-bottom: 1px solid black;
                width: 100%;
                display: flex;
                margin-bottom: .8rem;

                input {
                    border: none;
                    width: inherit;
                    background-color: inherit;
                }
            }

            .send {
                text-align: right;
                margin-top: 2rem;

                input {
                    border-radius: 5px;
                    background-color: $accent-font-color;
                    font-size: 2.5rem;
                    font-weight: 700;
                    border: none;
                    padding: .5rem 4rem;
                }
            }

            >div:not(.title) {
                font-size: 1.875rem;

                .caption {
                    font-weight: 700;
                    color: black;
                }
            }

            .title h3 {
                margin: 0;
                margin-block-start: 0;
                margin-block-end: 0;
            }
        }

        .copyright {
            border-top: 1px solid black;
            display: flex;
            justify-content: space-between;
            font-size: 1.125rem;
            font-weight: 700;
            align-items: center;
            height: 9rem;

            .copy-policy {
                display: flex;
                justify-content: space-between;

                .copy {
                    border-right: 1px solid black;
                    padding-right: 2rem;
                }

                .policy {
                    padding-left: 2rem;

                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }

    }
}


@media(max-width: 1800px) {
    html {
        font-size: 15px;
    }
}

@media(max-width: 1700px) {
    html {
        font-size: 14px;
    }
}

@media(max-width: 1600px) {
    html {
        font-size: 13px;
    }
}

@media(max-width: 1500px) {
    html {
        font-size: 12px;
    }
}

@media(max-width: 1400px) {
    html {
        font-size: 11px;
    }
}

@media(max-width: 1300px) {
    html {
        font-size: 10px;
    }
}

@media(max-width: 1200px) {
    html {
        font-size: 9px;
    }
}

@media(max-width: 1100px) {
    html {
        font-size: 8px;
    }
}

@media(max-width: 768px) {
    .main .mask main>div p {
        font-size: 1.8rem;
    }

    .story .grid p {
        font-size: 1.25rem;
    }
}

@media(max-width: 426px) {

    .main .mask header nav,
    .main .link {
        display: none;
    }

    .main .menu {
        display: block;
        width: 1.5rem;
        height: 1.5rem;
    }

    .story .grid .left-middle,
    .story .grid .center-top,
    .story .grid .right-middle {
        max-width: 100%;
    }

    .main {
        height: auto;
        background-position: center;

        .mask {
            main {
                flex-direction: column;

                >div {
                    width: auto;
                    line-height: 1.5;

                    &.title-main {
                        text-align: center;
                    }
                }

                
            }
        }


    }

    .story .grid {
        column-gap: 1rem;

        p {
            font-size: 1.5rem;
            margin: .1rem 0;
        }

        h5 {
            font-size: 2rem;
            margin: .1rem 0;
        }
    }

    .collection .mask .cards {
        flex-wrap: wrap;
        >div {
            width: auto;
            height: auto;
            margin: 1rem 0;

            p{ 
                font-size: 1.5rem;
            }
            .underlined a {
                font-size: 2rem;
            }
        }
    }

    .parallax .mask {
        height: auto;
    }

    footer .mask .grid {
        display: block;

        >div:not(.title) {
            margin: 5rem 0;
        }
    }
}

